@import url('https://fonts.googleapis.com/css?family=Lato');

.fb-events-container {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.fb-event-tile {
    max-width: calc(100% - 20px);
    width: 100%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=143, Color=#BABABA)";/*IE 8*/
    -moz-box-shadow: 4px 3px 3px -2px rgba(186,186,186,0.5);/*FF 3.5+*/
    -webkit-box-shadow: 4px 3px 3px -2px rgba(186,186,186,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 4px 3px 3px -2px rgba(186,186,186,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#BABABA); /*IE 5.5-7*/
}

.fb-event-tile:first-child {
    max-width: 100%;
    padding: 10px 20%;
}

.fb-event-tile:first-child div:not(.fb-event-title) {
    display: none;
}

.fb-event-tile:first-child .fb-event-title {
    margin-bottom: 5px;
}

.fb-event-title {
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #619641;
}

.fb-event-outcome span {
    color: #75b64e;
    margin-left: 5px;
}

.fb-event-outcome + .fb-event-outcome {
    margin-top: 5px;
}

@media screen and (min-width: 480px) {
    .fb-event-tile {
        max-width: calc(50% - 20px);
    }
}

@media screen and (min-width: 769px) {
    .fb-event-tile {
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (min-width: 1025px) {
    .fb-event-tile {
        max-width: calc(25% - 20px);
    }
}
